  /* General styles */
  body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #212121;
    color: #fff;
  }
  
  /* Container */
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
  }

  
  /* Add any additional styles here */
  .navbar-custom .navbar-brand,
  .navbar-custom .nav-link {
      color: white;
  }
  .navbar-custom .nav-item.active .nav-link {
      color: #ff9900;
  }
  
  /*----------------------------------------------------------------how to turn the background black and the text white----------------------------------------------------------------?*/
  *{
    background-color: #212121;
    color: white;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
  }
  

  
  .header, .footer {
    background-color: #212121;
    color: #fff;
    padding: 1rem;
    text-align: center;
    flex: 100%;
  }
  
  .header h1, .footer p {
    margin: 0;
  }
  
  .sidebar {
    background-color: #ccc;
    flex: 25%;
    padding: 1rem;
  }
  
  .sidebar h2 {
    margin-bottom: 1rem;
  }
  
  .sidebar p {
    margin-bottom: 0.5rem;
  }
  
  .sidebar a {
    color: #333;
    text-decoration: none;
  }
  
  .sidebar a:hover {
    text-decoration: underline;
  }
  
  .content {
    background-color: #e8e8e8;
    flex: 50%;
    padding: 1rem;
    margin: 1rem;
  }
  
  .content h2 {
    margin-bottom: 1rem;
  }
  
  @media (max-width: 768px) {
    .sidebar, .content {
        flex: 100%;
    }
  }
  
  *{
    background-color: #212121;
    color: white;
  }* 


/*-----------------------------------------------------------------CSS for moving ball-----------------------------------------------------------------*/
.section-center {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 10;
  transform: translateY(-50%);
  width: 100%;
  margin: 0 auto;
  text-align: center;
  -webkit-transition: all 500ms linear;
  transition: all 500ms linear;
}

.section-path {
  position: relative;
  width: 238px;
  height: 76px;
  border-radius: 35px;
  margin: 0 auto;
  text-align: center;
  background-color: #e6e6e6;
  box-shadow: inset -2px 20px 10px 0 rgba(0,0,0,.06),
		inset -2px 30px 10px 0 rgba(0,0,0,.04);
  border: 3px groove rgba(225,225,225,0.07);
  overflow: hidden;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}

.globe {
  position: relative;
  width: 66px;
  height: 66px;
  overflow: hidden;
  margin-top: 2px;
  margin-left: 2px;
  border-radius: 50%;
  box-shadow: 0 10px 40px rgba(0,0,0,0.65);
  animation: rotateBall 4s ease infinite;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}

@keyframes rotateBall {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(162px);
  }

  100% {
    transform: translateX(0);
  }
}

.globe:after {
  position: absolute;
  width: 5px;
  height: 12px;
  background-color: rgba(255, 255, 255, 0.1);
  content: '';
  left: 40px;
  top: 15px;
  border-radius: 50%;
  z-index: 2;
  box-shadow: 0 0 14px 7px rgba(255, 255, 255, 0.1);
}

.globe:before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  left: 0;
  top: 0;
  border-radius: 50%;
  z-index: 1;
  box-shadow: inset 0 0 15px #1a252f;
  opacity: 0.4;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}

.globe .wrapper {
  position: absolute;
  width: 528px;
  height: 528px;
  top: 0;
  left: -462px;
  animation: moveBall 4s ease infinite;
}

@keyframes moveBall {
  0% {
    left: -462px;
  }

  50% {
    left: 0;
  }

  100% {
    left: -462px;
  }
}

.globe .wrapper span {
  position: absolute;
  width: 33px;
  height: 528px;
  top: 0;
  left: 0;
  background-color: #5c477d;
  box-shadow: inset 0 0 25px #5c487c;
}

.globe .wrapper span:nth-child(2) {
  left: 33px;
  background-color: #503e6d;
}

.globe .wrapper span:nth-child(3) {
  left: 66px;
}

.globe .wrapper span:nth-child(4) {
  left: 99px;
  background-color: #503e6d;
}

.globe .wrapper span:nth-child(5) {
  left: 132px;
}

.globe .wrapper span:nth-child(6) {
  left: 165px;
  background-color: #503e6d;
}

.globe .wrapper span:nth-child(7) {
  left: 198px;
}

.globe .wrapper span:nth-child(8) {
  left: 231px;
  background-color: #503e6d;
}

.globe .wrapper span:nth-child(9) {
  left: 264px;
}

.globe .wrapper span:nth-child(10) {
  left: 297px;
  background-color: #503e6d;
}

.globe .wrapper span:nth-child(11) {
  left: 330px;
}

.globe .wrapper span:nth-child(12) {
  left: 363px;
  background-color: #503e6d;
}

.globe .wrapper span:nth-child(13) {
  left: 396px;
}

.globe .wrapper span:nth-child(14) {
  left: 429px;
  background-color: #503e6d;
}

.globe .wrapper span:nth-child(15) {
  left: 462px;
}

.globe .wrapper span:nth-child(16) {
  left: 495px;
  background-color: #503e6d;
}

#switch,
#circle {
  cursor: pointer;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}

#switch {
  width: 70px;
  height: 8px;
  margin: 0 auto;
  text-align: center;
  border: 2px solid #8167a9;
  border-radius: 27px;
  background: #000;
  position: relative;
  display: inline-block;
  margin-top: 40px;
  margin-bottom: 20px;
}

#circle {
  position: absolute;
  top: -11px;
  left: 5px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  box-shadow: 0 4px 4px rgba(0,0,0,0.25), 0 0 0 1px rgba(26,53,71,0.07);
  background: #000;
}

.switched {
  border-color: #000 !important;
  background: #8167a9 !important;
}

.switched #circle {
  left: 35px;
  background: #fff;
}

.section-center p span {
  position: relative;
  padding: 4px 10px;
  margin: 0 5px;
}

.section-center p span:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background-color: #8167a9;
  box-shadow: 0 2px 4px rgba(0,0,0,0.25);
  left: 0;
  top: 0;
  z-index: -1;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}

.section-center p span:after {
  position: absolute;
  content: '';
  width: calc(100% - 10px);
  height: 2px;
  border-radius: 4px;
  background-color: #fff;
  left: 5px;
  top: 50%;
  z-index: 1;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}

.section-center p span:nth-child(2):after {
  opacity: 0;
}

.section-center p span:nth-child(3):after {
  opacity: 0;
}


button {
  background: #FBCA1F;
  font-family: inherit;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 18px;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
}

button:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

button:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}



  /*-----------------------------------------------------------------Future of E-commerce-----------------------------------------------------*/
  .radio-input {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .radio_item {
    display: flex;
    align-items: center;
    margin: 3px;
  }
  
  .radio {
    height: 50px;
    width: 50px;
    opacity: 0;
    margin: 0px;
    margin-right: 1.5em;
    cursor: pointer;
  }
  
  .pointer {
    cursor: pointer;
  }
  
  .sphere {
    position: absolute;
    max-height: 50px;
    max-width: 50px;
    border-radius: 50%;
    z-index: -1;
  }
  /* hand */
  .top_hand {
    animation: hand 6.66s linear infinite;
  }
  
  .bottom_hand {
    animation: hand 6.66s linear infinite;
  }
  
  @keyframes hand {
    20% {
      transform: rotate3d(0, 0, 1, 15deg);
    }
  
    90% {
      transform: rotate3d(0, 0, 1, -3deg);
    }
  
    100% {
      transform: rotate3d(0, 0, 1, 0deg);
    }
  }
  
  /* pick option - change image */
  .radio:checked ~ .earth_input {
    display: none;
  }
  
  .earth_input_planet {
    display: none;
  }
  
  .radio:checked ~ .earth_input_planet {
    display: block;
    transform: rotateZ(23.4deg);
    fill: rgba(56, 192, 56, 0.148);
    stroke: rgba(0, 104, 241, 0.788);
  }
  
  .radio:checked ~ .moon_input {
    display: none;
  }
  
  .moon_input_planet {
    display: none;
  }
  
  .radio:checked ~ .moon_input_planet {
    display: block;
    fill: rgba(237, 234, 234, 0.224);
    stroke: rgba(174, 171, 171, 0.1);
    margin-left: 13px;
    transform: rotateZ(-23.4deg);
  }
  
  .radio:checked ~ .mars_input {
    display: none;
  }
  
  .mars_input_planet {
    display: none;
  }
  
  .radio:checked ~ .mars_input_planet {
    display: block;
    fill: rgba(192, 54, 0, 0.114);
    stroke: rgba(255, 254, 254, 0.162);
    margin-left: 8px;
    transform: rotateZ(43.9deg);
  }
  
  .radio:checked ~ label {
    font-weight: bold;
  }
  /* sphere_lines */
  .sphere_lines, .sphere_lines_back {
    border: 1px dotted #fff;
    border-radius: 50%;
    height: 50px;
    transform-style: preserve-3d;
    width: 50px;
    position: absolute;
    z-index: -1;
    transition: all 0.5s ease-in-out;
  }
  
  .sphere_lines {
    animation: spin 6.66s linear infinite;
  }
  
  .sphere_lines_back {
    animation: spin_back 6.66s linear infinite;
  }
  
  .sphere_lines_back::before,
   .sphere_lines_back::after,.sphere_lines::before,
   .sphere_lines::after {
    border: 1px dotted #fff;
    border-radius: 50%;
    content: '';
    height: 50px;
    left: 0;
    position: absolute;
    top: 0;
    width: 50px;
    transition: all 0.5s ease-in-out;
  }
  
  .sphere_lines_back::before , .sphere_lines::before {
    transform: rotateX(-66.6deg);
  }
  
  .sphere_lines_back::after,.sphere_lines::after {
    transform: rotateX(66.6deg);
  }
  
  .radio:hover ~ .sphere_lines,
   .radio:hover ~.sphere_lines_back,
   .radio:hover ~ .sphere_lines_back::before,
   .radio:hover ~ .sphere_lines_back::after,
   .radio:hover ~ .sphere_lines::before,
   .radio:hover ~ .sphere_lines::after {
    border: 1.6px dotted #fff;
  }
  

  @keyframes spin {
    0% {
      transform: rotateY(0deg) rotateX(10deg) rotateZ(0deg);
    }
  
    100% {
      transform: rotateY(360deg) rotateX(10deg) rotateZ(0deg);
    }
  }
  
  @keyframes spin_back {
    0% {
      transform: rotateY(70deg) rotateX(0deg) rotateZ(0deg);
    }
  
    100% {
      transform: rotateY(70deg) rotateX(0deg) rotateZ(360deg);
    }
  }
  
#empty-space{
  background-color:#212121;
  height:30px;
}

  /* NAME BAR */
  #name-bar{
    background-color: #212121;
    text-align: center;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 18px;
  }
  
  /* NAV BAR */
  #nav-bar{
    background-color: #212121;
    text-align: center;
    align-items: center;
  }
  
  #heading-title-text{
    text-align: center;
    margin:0;
  }

  /*Intro Content*/
  #intro-content{
    background-color: #212121;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
  }

  #tiktok-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 650px;
}

#text-below-intro{
  background-color: #212121;
}

#border{
  height: 10px;
  background-color: white;
  
}

#bottom-info-bar{
  display: flex;
  flex-direction: row;
  flex-wrap:nowrap;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 10px;
  padding-right:10px;
  height:auto;
}

#about-us{
  flex:1;
  padding-left:25px;
}

#contact-us{
  flex:1;
  padding-right:25px;
}

